<html>
<body>
<center>
    <table style="border-collapse: collapse">
        <tr>
            <th style="margin-left: 40px"><img src="../templates/img/logoUae.png" width="100" height=""></th>
            <th style="margin-left: 105px"><h1
                    style="color : #152e55;font-family: Bitstream Vera Sans Mono, Monaco, Courier New, Courier, monospace">
                ECOLE NATIONAL DES SCIENCES APPLIQUEE DE
                TANGER
            </h1></th>
            <th style="margin-left: 80px"><img src="./img/ensa.png" width="150" height="100"></th>
        </tr>
    </table>
    <h2>Affichage du module GINF31 (Avant Rattrapage)</h2>
    <table border="1" style="border-collapse: collapse">
        <tr bgcolor="#0c344f">
            <th style="color: aliceblue">CNE</th>
            <th style="color: aliceblue">FirstName</th>
            <th style="color: aliceblue">LastName</th>
            <th style="color: aliceblue">ClassName</th>
            <th style="color: aliceblue">ModuleName</th>
            <th style="color: aliceblue">Note</th>
        </tr>
        <tr>
            <td>44526656</td>
            <td>ashraf</td>
            <td>khabar</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="00FF00">17</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>souad</td>
            <td>imran</td>
            <td>hassan</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="#FFA500">10</td>
        </tr>
    </table>
    <br><br><br>
    <hr>
    <br><br>
    <h2>la liste des &#233;tudiants qui doivent passer le rattrapage pour le Module GINF31</h2>
    <table border="1" style="border-collapse: collapse">
        <tr bgcolor="#0c344f">
            <th style="color: aliceblue">CNE</th>
            <th style="color: aliceblue">FirstName</th>
            <th style="color: aliceblue">LastName</th>
            <th style="color: aliceblue">ClassName</th>
            <th style="color: aliceblue">ModuleName</th>
            <th style="color: aliceblue">Note</th>
        </tr>
        <tr>
            <td>44526656</td>
            <td>souad</td>
            <td>imran</td>
            <td>hassan</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td>10</td>
        </tr>
    </table>
    <br><br><br>
    <hr>
    <br><br>
    <h2>Affichage du module GINF31 (R&#233;sultat apr&#232;s le rattrapage)</h2>
    <table border="1" style="border-collapse: collapse">
        <tr bgcolor="#0c344f">
            <th style="color: aliceblue">CNE</th>
            <th style="color: aliceblue">FirstName</th>
            <th style="color: aliceblue">LastName</th>
            <th style="color: aliceblue">ClassName</th>
            <th style="color: aliceblue">ModuleName</th>
            <th style="color: aliceblue">R&#233;sultat</th>
        </tr>
        <tr>
            <td>44526656</td>
            <td>ashraf</td>
            <td>khabar</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="00FF00">V</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>souad</td>
            <td>imran</td>
            <td>hassan</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="#FFA500">NV</td>
        </tr>
    </table>
    <br></center>
</body>
</html>
