<root xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:r="http://GINF2AttestaionReussite.org">
    <center>
        <layout-master-set>
            <simple-page-master master-name="A4">
                <region-body></region-body>
            </simple-page-master>
        </layout-master-set>
    </center>
    <page-sequence master-reference="A4" width="21cm" height="29.7">
        <flow flow-name="xsl-region-body">
            <div style="text-align: center;">
                <table table-layout="fixed">
                    <th column-width="8.5cm"></th>
                    <th column-width="5cm"></th>
                    <th column-width="8.5cm"></th>
                    <center>
                        <table-body>
                            <table-row>
                                <table-cell width="8.5cm" height="3cm" margin-right="0.6cm">
                                    <th font-family="Roboto" font-size="19px" color="#02306E" text-align="center"
                                        margin-top="0.5cm" margin-bottom="0.1cm">Royaume du Maroc
                                    </th>
                                    <th font-family="Roboto" font-size="19px" color="#02306E" text-align="center"
                                        margin-bottom="0.1cm">Universit&#233; Abdelmalek Essa&#226;di
                                    </th>
                                    <th font-family="Roboto" font-size="19px" color="#02306E" text-align="center"
                                        margin-bottom="0.1cm">Ecole Nationale des Sciences Appliqu&#233;es
                                    </th>
                                    <th font-family="Roboto" font-size="19px" color="#02306E" text-align="center"
                                        margin-bottom="0.1cm">Tanger
                                    </th>
                                    <center>
                                        <th text-align="center" margin-bottom="0.1cm">
                                            <instream-foreign-object>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="85" height="12"
                                                     viewbox="0 0 85 12" fill="none">
                                                    <g filter="url(#filter0_di)">
                                                        <line x1="4.99667" y1="1" x2="80.0033" y2="1"
                                                              stroke="#013172"></line>
                                                    </g>
                                                    <rect x="16" y="2" width="55" height="10" fill="#013172"></rect>
                                                    <defs>
                                                        <filter id="filter0_di" x="0.996666" y="0.5" width="83.0067"
                                                                height="9" filterunits="userSpaceOnUse"
                                                                color-interpolation-filters="sRGB">
                                                            <feflood flood-opacity="0"
                                                                     result="BackgroundImageFix"></feflood>
                                                            <fecolormatrix in="SourceAlpha" type="matrix"
                                                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></fecolormatrix>
                                                            <feoffset dy="4"></feoffset>
                                                            <fegaussianblur stddeviation="2"></fegaussianblur>
                                                            <fecolormatrix type="matrix"
                                                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></fecolormatrix>
                                                            <feblend mode="normal" in2="BackgroundImageFix"
                                                                     result="effect1_dropShadow"></feblend>
                                                            <feblend mode="normal" in="SourceGraphic"
                                                                     in2="effect1_dropShadow" result="shape"></feblend>
                                                            <fecolormatrix in="SourceAlpha" type="matrix"
                                                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                                           result="hardAlpha"></fecolormatrix>
                                                            <feoffset dy="4"></feoffset>
                                                            <fegaussianblur stddeviation="2"></fegaussianblur>
                                                            <fecomposite in2="hardAlpha" operator="arithmetic" k2="-1"
                                                                         k3="1"></fecomposite>
                                                            <fecolormatrix type="matrix"
                                                                           values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></fecolormatrix>
                                                            <feblend mode="normal" in2="shape"
                                                                     result="effect2_innerShadow"></feblend>
                                                        </filter>
                                                    </defs>
                                                </svg>
                                            </instream-foreign-object>
                                        </th>
                                    </center>
                                </table-cell>
                                <table-cell width="4cm">
                                    <th margin-top="0.1cm" margin-left="-0.43cm">
                                        <external-graphic src="ensa.png" content-height="scale-to-fit"
                                                          content-width="scale-to-fit" width="6cm" height="3cm"
                                                          scaling="non-uniform"></external-graphic>
                                    </th>
                                </table-cell>
                                <table-cell width="9.5cm" height="3cm" margin-right="-1.2cm">
                                    <th font-family="Arial" font-size="24px" color="#02306E" text-align="center"
                                        margin-top="0.35cm" margin-bottom="0.03cm">&#1575;&#1604;&#1605;&#1605;&#1604;&#1603;&#1577;
                                        &#1575;&#1604;&#1605;&#1594;&#1585;&#1576;&#1610;&#1577;
                                    </th>
                                    <th font-family="Arial" font-size="24px" color="#02306E" text-align="center"
                                        margin-bottom="0.03cm">&#1580;&#1575;&#1605;&#1593;&#1577; &#1593;&#1576;&#1583;
                                        &#1575;&#1604;&#1605;&#1575;&#1604;&#1603; &#1575;&#1604;&#1587;&#1593;&#1583;&#1610;
                                    </th>
                                    <th font-family="Arial" font-size="24px" color="#02306E" text-align="center"
                                        margin-bottom="0.03cm">&#1575;&#1604;&#1605;&#1583;&#1585;&#1587;&#1577; &#1575;&#1604;&#1608;&#1591;&#1606;&#1610;&#1577;
                                        &#1604;&#1604;&#1593;&#1604;&#1608;&#1605; &#1575;&#1604;&#1578;&#1591;&#1576;&#1610;&#1602;&#1610;&#1577;
                                    </th>
                                    <th font-family="Arial" font-size="24px" color="#02306E" text-align="center"
                                        margin-bottom="-0.15cm">&#1591;&#1606;&#1580;&#1577;
                                    </th>
                                    <th text-align="center">
                                        <instream-foreign-object>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="85" height="12"
                                                 viewbox="0 0 85 12" fill="none">
                                                <g filter="url(#filter0_di)">
                                                    <line x1="4.99667" y1="1" x2="80.0033" y2="1"
                                                          stroke="#013172"></line>
                                                </g>
                                                <rect x="16" y="2" width="55" height="10" fill="#013172"></rect>
                                                <defs>
                                                    <filter id="filter0_di" x="0.996666" y="0.5" width="83.0067"
                                                            height="9" filterunits="userSpaceOnUse"
                                                            color-interpolation-filters="sRGB">
                                                        <feflood flood-opacity="0"
                                                                 result="BackgroundImageFix"></feflood>
                                                        <fecolormatrix in="SourceAlpha" type="matrix"
                                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></fecolormatrix>
                                                        <feoffset dy="4"></feoffset>
                                                        <fegaussianblur stddeviation="2"></fegaussianblur>
                                                        <fecolormatrix type="matrix"
                                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></fecolormatrix>
                                                        <feblend mode="normal" in2="BackgroundImageFix"
                                                                 result="effect1_dropShadow"></feblend>
                                                        <feblend mode="normal" in="SourceGraphic"
                                                                 in2="effect1_dropShadow" result="shape"></feblend>
                                                        <fecolormatrix in="SourceAlpha" type="matrix"
                                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                                                       result="hardAlpha"></fecolormatrix>
                                                        <feoffset dy="4"></feoffset>
                                                        <fegaussianblur stddeviation="2"></fegaussianblur>
                                                        <fecomposite in2="hardAlpha" operator="arithmetic" k2="-1"
                                                                     k3="1"></fecomposite>
                                                        <fecolormatrix type="matrix"
                                                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></fecolormatrix>
                                                        <feblend mode="normal" in2="shape"
                                                                 result="effect2_innerShadow"></feblend>
                                                    </filter>
                                                </defs>
                                            </svg>
                                        </instream-foreign-object>
                                    </th>
                                </table-cell>
                            </table-row>
                        </table-body>
                    </center>
                </table>
            </div>
            <table table-layout="fixed">
                <th column-width="21cm"></th>
                <table-body>
                    <table-row>
                        <table-cell>
                            <th font-family="Arial" font-size="34px" color="#02306E" text-align="center"
                                margin-top="3cm" letter-spacing="0.01cm" word-spacing="0.1cm"
                                text-decoration="underline">ATTESTATION DE REUSSITE
                            </th>
                        </table-cell>
                    </table-row>
                </table-body>
            </table>
            <center>
                <table table-layout="fixed">
                    <th column-width="21cm"></th>
                    <table-body>
                        <table-row>
                            <table-cell style="margin: 30px">
                                <table font-family="Arial" font-size="24px" color="#000000" text-align="center"
                                       margin-bottom="0.5cm" margin-top="2cm">Le Directeur de l'Ecole Natioale des
                                    Sciences Appliqu&#233;es de Tanger atteste que
                                </table>
                                <table font-family="Arial" font-size="24px" color="#011632" text-align="center"
                                       margin-bottom="0.1cm" font-weight="bold">monsieur achraf khabar
                                </table>
                                <table font-family="Arial" font-size="24px" color="#000000" text-align="center"
                                       margin-bottom="0.1cm">n&#233;e le 23 avril 2000 &#224; CASABLANCA
                                </table>
                                <table font-family="Arial" font-size="24px" color="#000000" text-align="center"
                                       margin-bottom="0.2cm">a &#233;t&#233; d&#233;clar&#233;e admis au niveau
                                </table>
                                <table font-family="Arial" font-size="24px" color="#011632" text-align="center"
                                       margin-top="0.2cm" font-weight="bold">3&#176; Ann&#233;e G&#233;nie Informatique
                                    (Syst&#232;mes d'information)
                                </table>
                                <th font-family="Arial" font-size="24px" color="#000000" text-align="center"
                                    margin-top="0.5cm">au titre de l'ann&#233;e universitaire 2020/2021
                                </th>
                                <th margin-top="0.1cm" margin-left="6.9cm">
                                    <instream-foreign-object>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="310" height="2"
                                             viewbox="0 0 310 2" fill="none">
                                            <line y1="1" x2="310" y2="1" stroke="black" stroke-width="2"></line>
                                        </svg>
                                    </instream-foreign-object>
                                </th>
                            </table-cell>
                        </table-row>
                    </table-body>
                </table>
            </center>
            <table table-layout="fixed">
                <th column-width="21cm"></th>
                <table>
                    <tr>
                        <table-cell>
                            <th font-family="Arial" font-size="18px" color="#000000" margin-left="12cm"
                                margin-top="6cm">Fait &#224; TANGER, le 9 octobre 2021
                            </th>
                            <th font-family="Arial" font-size="18px" color="#000000" margin-left="1cm"
                                margin-top="1.5cm">N&#176; &#233;tudiant:
                            </th>
                            <th font-family="Arial" font-size="18px" color="#000000" margin-left="4cm"
                                margin-top="-0.45cm">16010186
                            </th>
                            <th font-family="Arial" font-size="18px" color="#000000" margin-left="15cm"
                                margin-top="-0.9cm">Le Directeur:
                            </th>
                            <th font-family="Arial" font-size="14px" color="#000000" margin-left="0.3cm"
                                margin-top="2.7cm">Avis important: il ne peut &#234;tre d&#233;livr&#233; qu'un seul
                                exemplaire de cette attestation. Aucun duplicate ne sera fourni.
                            </th>
                        </table-cell>
                    </tr>
                </table>
            </table>
        </flow>
    </page-sequence>
</root></body></html>
