<html>
<body>
<center>
    <table>
        <tr>
            <th style="margin-left: 20px"><img src="logoUae.png" width="110" height="100"></th>
            <th style="margin-left: 105px"><h1 style="color : #0F4494;font-family: Podkova">ECOLE NATIONAL DES SCIENCES
                APPLIQUEE DE
                TANGER
            </h1></th>
            <th style="margin-left: 80px"><img src="ensa.png" width="150" height="100"></th>
        </tr>
    </table>
    <h2>AFFICHAGE DU MODULE GINF31 (Avant Rattrapage)</h2>
    <table border="1">
        <tr bgcolor="#9acd32">
            <th>CNE</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ClassName</th>
            <th>ModuleName</th>
            <th>Note</th>
        </tr>
        <tr>
            <td>44526656</td>
            <td>ashraf</td>
            <td>khabar</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="00FF00">17</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>hassan</td>
            <td>said</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="FF0000">2</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>mouad</td>
            <td>adil</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="#FFA500">9</td>
        </tr>
        <tr>
            <td>24585858</td>
            <td>zakaria</td>
            <td>dkhissi</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="00FF00">20</td>
        </tr>
    </table>
    <br><br><br>
    <hr>
    <br><br>
    <h2>la liste des &#233;tudiants qui doivent passer le rattrapage pour le Module GINF31</h2>
    <table border="1">
        <tr bgcolor="#9acd32">
            <th>CNE</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ClassName</th>
            <th>ModuleName</th>
            <th>Note</th>
        </tr>
        <tr>
            <td>44526656</td>
            <td>hassan</td>
            <td>said</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td>2</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>mouad</td>
            <td>adil</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td>9</td>
        </tr>
    </table>
    <br><br><br>
    <hr>
    <br><br>
    <h2>AFFICHAGE DU MODULE GINF31 (R&#233;sultat apr&#232;s le rattrapage)</h2>
    <table border="1">
        <tr bgcolor="#9acd32">
            <th>CNE</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ClassName</th>
            <th>ModuleName</th>
            <th>R&#233;sultat</th>
        </tr>
        <tr>
            <td>44526656</td>
            <td>ashraf</td>
            <td>khabar</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="00FF00">V</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>hassan</td>
            <td>said</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="FF0000">NE</td>
        </tr>
        <tr>
            <td>44526656</td>
            <td>mouad</td>
            <td>adil</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="#FFA500">NV</td>
        </tr>
        <tr>
            <td>24585858</td>
            <td>zakaria</td>
            <td>dkhissi</td>
            <td>GINF2</td>
            <td>ProgrammationOrienteeObjet/XML</td>
            <td bgcolor="00FF00">V</td>
        </tr>
    </table>
    <br></center>
</body>
</html>
